@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
/* Reset & Base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f2f5;
}

ul {
  list-style-type: none;
}







.homepage{
  height: 100vh;
  background:#cfcdcd;
  width:100%;
  overflow-y: scroll;
}

header{
  background-color: white;
  box-shadow: 0px 0px 2px 0px #00000040;
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100%;
  left: 0;
}

header .header-c{
  width: 95%;
  margin: auto;
  /* padding: 20px 0; */
}
header .header-c .header-cc{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}

header .header-c .header-cc .header-left{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 10px;
}
header .header-c .header-cc .header-left .logo{
  width: 30px;
  height: 30px;
  background-color: #1877f2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: end;
  color: white;
  font-size: 23px;
  font-weight: 500;
}

header .header-c .header-cc .header-left .h-search{
  position: relative;
  background-color: #eeecec;
  height: 35px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  gap: 6px;
}

header .header-c .header-cc .header-left .h-search .search-icon{
  /* position: absolute;
  left: 3px;
  top: 2.5px; */
  height: 15px;
  width: 15px;
  color: #555;
}

header .header-c .header-cc .header-left .h-search input{
  border: none;
  outline: none;
  background: transparent;
}

header .header-c .header-cc nav {
  display: none; 
}

@media (min-width: 768px) { 
  header .header-c .header-cc nav {
    display: flex;
    height: 100%;
    align-items: flex-end;
    gap: 5px;     
    }
}

header .header-c .header-cc nav button{
  border: none;
  border-bottom: 4px solid transparent;
  padding: 9px 20px;
  background-color: transparent;
  cursor: pointer;
}
header .header-c .header-cc nav .active{
  color: #1877f2;
  border-bottom: 4px solid #1877f2;
}

header .header-c .header-cc .header-right{
  display: flex;
  /* width: 20%; */
  align-items: center;
  height: 100%;
  gap: 15px;
  justify-content: space-between;
}

header .header-c .header-cc .header-right button{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #eeecec;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
header .header-c .header-cc .header-right button .hr-i{
  height: 15px;
  width: 15px;
}

header .header-c .header-cc .header-right .prof{
  background-color: #1877f2;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  color: #fff;
}


.main-content{
  width: 95%;
  margin: auto;
  padding:100px 0 30px 0;
}

.main-content .main-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem; 
}

@media (min-width: 1024px) {
  .main-content .main-grid {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}


.main-content .main-grid aside {
  display: none;
}

@media (min-width: 1024px) {
  .main-content .main-grid aside {
    display: block;
    grid-column: span 3 / span 3;
  }
}

.main-content .main-grid aside .sidebar {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.main-content .main-grid aside .sidebar .side-flex{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 10px;
}


.main-content .main-grid aside .sidebar .side-flex:hover{
  background-color: #eeecec;
  border-radius: 12px;
}
.main-content .main-grid aside .sidebar .side-flex div{
  width: 30px;
  height: 30px;
  background-color: #1877f2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
}

.main-content .main-grid aside .sidebar .side-flex .side-i{
  width: 30px;
  height: 30px;
  color: #1877f2;
}

.main-content .main-grid aside .sidebar .side-flex .cyan{
  color: rgb(17, 245, 245);
}

.main-content .main-grid aside .sidebar .side-flex span{
  color: #555;
}

.main-content .main-grid main{
  grid-column: span 6 / span 6;
}

.main-content .main-grid main .main-main{
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
}

.main-content .main-grid main {
  height: 100vh;
  overflow: scroll; 
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.main-content .main-grid main::-webkit-scrollbar {
  display: none; 
}

.main-content .main-grid main .main-main .main-search{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.main-content .main-grid main .main-main .main-search div{
  width: 40px;
  height: 40px;
  background-color: #1877f2;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
}

.main-content .main-grid main .main-main .main-search input{
  flex: 1;
  background-color: #f3f4f6;
  border-radius: 9999px;   
  padding-left: 1rem;       
  padding-right: 1rem;
  padding-top: 0.7rem;      
  padding-bottom: 0.7rem;
  outline: none;
  border: none;           
  transition-property: background-color;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}


.main-content .main-grid main .main-main .main-search input:hover {
  background-color: #e5e7eb; /* hover:bg-gray-200 */
}

.main-content .main-grid main .main-main .main-search input:focus {
  outline: none;
}


.main-content .main-grid .main-main .main-below{
  border-top: 1px solid #e5e7eb; 
  padding-top: 0.75rem;
  display: flex;       
  justify-content: space-between;
  align-items: center;
}

.main-content .main-grid .main-main .main-below .mb-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content .main-grid .main-main .main-below .mb-flex button{
  display: flex;                         
  align-items: center;                  
  gap: 0.5rem;                           
  color: #4b5563;                        
  padding: 0.5rem 1rem;                  
  border-radius: 0.5rem;                 
  transition-property: background-color;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  border: none;
  background-color: transparent;
  cursor: pointer;

}

.main-content .main-grid .main-main .main-below .mb-flex button:hover {
  background-color: #f3f4f6;             /* hover:bg-gray-100 */
}

.main-content .main-grid .main-main .main-below .mb-flex button .bb-i{
  width: 30px;
  height: 30px;
}

.main-content .main-grid .main-main .main-below .mb-flex span{
  font-weight: 500;
  font-size: 16px;
  color: #555;
}

.main-content .main-grid .main-main .post-btn{
  background-color: #2563eb;        
  color: white;                     
  padding-left: 1.5rem;             
  padding-right: 1.5rem;
  padding-top: 0.5rem;              
  padding-bottom: 0.5rem;
  border-radius: 0.5rem;           
  font-weight: 600;                 
  transition-property: background-color; 
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  cursor: pointer;    
}              

.main-content .main-grid .post-btn:hover {
  background-color: #1d4ed8;        
}

.main-content .main-grid .post{
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  border-radius: 15px;
  margin-bottom: 20px;
  padding: 20px;
}


.main-content .main-grid .post .post-header{
  padding: 10px 0;
}

.main-content .main-grid .post .post-header .ph-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.main-content .main-grid .post .post-header .ph-flex .ph-content{
  display: flex;
  align-items: center;
  gap: 12px;
}

.main-content .main-grid .post .post-header .ph-flex .ph-content .avatar{
  background: linear-gradient(to bottom right, #3b82f6, #7c3aed);
  width: 40px;
  height: 40px;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
}
.main-content .main-grid .post .post-header .ph-flex h3{
  font-size: 16px;
}
.main-content .main-grid .post .post-header .ph-flex .post-time{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  color: #6b7280;
}

.main-content .main-grid .post .post-header .ph-flex .globe{
  width: 15px;
  height: 15px;
}
.main-content .main-grid .post .post-header button{
  color: #6b7280;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.main-content .main-grid .post .post-content{
  color: #555;
  margin-bottom: 15px;
 }

  .main-content .main-grid .post .post-image{
    background-color: #ccc;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .main-content .main-grid .post .post-image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .main-content .main-grid .post .post-stat{
    padding-top: 0.7rem;            
    padding-bottom: 0.7rem;
    display: flex;                   
    align-items: center;             
    justify-content: space-between; 
    font-size: 0.875rem;             
    color: #6b7280;                  
    border-top: 1px solid #e5e7eb; 
  }

    .main-content .main-grid .post .post-stat .post-stat-c{
      display: flex;
      gap: 10px;
      align-items: center;
    }

  .main-content .main-grid .post .post-stat .post-stat-c .thumbs{
    background: #2563eb;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

    .main-content .main-grid .post .post-stat .post-stat-c .thumbs .thumbs-i{
      color: #fff;
      height: 14px;
      width: 14px;
    }

    .main-content .main-grid .post-actions{
      display: flex;                   
      justify-content: space-between; 
      border-top: 1px solid #e5e7eb; 
      padding-top: 20px;
    }

    .main-content .main-grid .post-actions button{
      display: flex;                         
      align-items: center;                   
      gap: 0.5rem;                          
      flex: 1;     
      border: none;
      height: auto;
      background-color: transparent;                         
      justify-content: center;              
      border-radius: 0.5rem;                
      color: #4b5563;                       
      font-weight: 600;                     
      transition-property: background-color; 
      transition-duration: 150ms;
      transition-timing-function: ease-in-out;
      cursor: pointer;     
      padding: 6px 0;                
    }

    .main-content .main-grid .post-actions button:hover {
      background-color: #f3f4f6;            
    }


    .main-content .main-grid .right-sidebar {
      display: none; 
    }

    @media (min-width: 1024px) { 
      .main-content .main-grid .right-sidebar {
        display: block;          
        grid-column: span 3 / span 3; 
      }
}

.main-content .main-grid .right-sidebar .rs-c{
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.main-content .main-grid .right-sidebar .rs-c h3{
  font-weight: 500;
  color: #555;
  margin-bottom: 15px;
}

.main-content .main-grid .right-sidebar .rs-c .rs-cc{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
}

.main-content .main-grid .right-sidebar .rs-c .rs-cc:hover {
  background-color: #f3f4f6;            
}

.main-content .main-grid .right-sidebar .rs-c .rs-cc .grade{
  width: 2.25rem; 
  height: 2.25rem; 
  background: linear-gradient(to bottom right, #8b5cf6, #db2777); /* from-purple-500 to-pink-600 */
  border-radius: 9999px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  color: white; 
  font-weight: 600;
  font-size: 0.875rem; 
}

.main-content .main-grid .right-sidebar .rs-c .rs-cc .abs{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0.75rem;           
  height: 0.75rem;          
  background-color: #22c55e; 
  border-radius: 9999px;   
  border: 2px solid white;  
}